/* ================================
    CSS STYLES FOR Mountain Container
   ================================
*/   



.Title
{
	font-family: Tahoma, Arial, Helvetica;
    font-size:  20px;
    font-weight:    normal;
    color: WHITE;
}

